.container {
  width: 1200px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

@media(max-width: 1000px) {
  .container {
    width: 600px;
    font-family: sans-serif
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px;
    font-family: sans-serif;
  }
}
